@charset "utf-8";

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block
}
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden],
template {
	display: none
}
a {
	background: 0 0
}
a:active,
a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b,
strong {
	font-weight: 700
}
dfn {
	font-style: italic
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}
pre {
	overflow: auto
}
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button,
select {
	text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled],
html input[disabled] {
	cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}
input {
	line-height: normal
}
input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}
input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}
legend {
	border: 0;
	padding: 0
}
textarea {
	overflow: auto
}
optgroup {
	font-weight: 700
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td,
th {
	padding: 0
}
body,
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #515363
}
body {
	font-size: 14px;
	color: #333;
	font-family: '微软雅黑', '宋体';
	background-color: #000;
	letter-spacing: 1px;
	box-shadow: 0 0 160px 0 #5C99E7;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none
}
a {
	font-family: '微软雅黑', '宋体'
}
a,
button,
form,
input,
select,
textarea {
	-webkit-tap-highlight-color: transparent
}


#wrapper {
	position: relative;
	z-index: 1;
	width: 640px;
	height: 1136px;
	margin: 0 auto;
	background: #ccc;
	-ms-touch-action: none;
	background: url(../images/appBg2.jpg) no-repeat center center;
	background-size: 100% 100%;
}
#scroller {
	position: absolute;
	width: 100%;
	height: 7952px;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}
#scroller li {
	width: 640px;
}
#scroller .page {
	width: 100%;
	height: 1136px;
	background: url('../images/appBg2.jpg') repeat-y center center;
	background-size: 100% 100%;
	position: relative;
}
.img-container img {
	display: block;
	width: 90%;
	margin: 55px auto;
	/*padding-top: 50px;*/
	box-shadow: 1px 1px 5px #D3D3D3;
}
.img-container {
	position: relative;
}
.img-container li {
	position: absolute;
}
.img-container li:nth-child(1){
	-webkit-transform: rotate(1.8deg);
}
.img-container li:nth-child(2){
	-webkit-transform: rotate(1.5deg);
}
.img-container li:nth-child(3){
	-webkit-transform: rotate(1.2deg);
}
.img-container li:nth-child(4){
	-webkit-transform: rotate(0.9deg);
}
.img-container li:nth-child(5){
	-webkit-transform: rotate(0.6deg);
}
.img-container li:nth-child(6){
	-webkit-transform: rotate(0.3deg);
}
@-webkit-keyframes slider
{
	from{
		left: 0;
		opacity: 1;
		-webkit-transform: rotate(0deg);
	}
	to{
		left: -600px;
		opacity: 0;
		-webkit-transform: rotate(-45deg);
	}
}
.slider-hide {
	-webkit-animation: slider 1s ease-out forwards;
}
.img-container li {
	-webkit-transition: -webkit-transform ease .3s;
}
.img-container li.rotate {
	-webkit-transform: rotate(0deg);
}
.slider li img {
	opacity: 0;
	-webkit-transform: rotate(45deg) translateX(600px);
	-webkit-transition: -webkit-transform 1s ease 2s,opacity 1s ease 2s;
}
.slider li img.showOut {
	-webkit-transform: rotate(0deg) translateX(0);
	opacity: 1;
}
.page .btn-box {
	margin: 0;
	background: #55A521;
	color: #fff;
	overflow: hidden;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}
.map {
	position: relative;
	height: 100%;
}
.btn {
	float: left;
	width: 50%;
	text-align: center;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	font-weight: normal;
	line-height: 100px;
}
.btn:nth-child(2){
	border-left: 1px solid #ddd;
	margin-left: -1px;
}

/*====input module======*/
.book {
	position: relative;
	top: 150px;
	background: #fff;
	width: 75%;
	margin: 0 auto;
	border-top: 4px solid #4CB649;
}
.book-title {
	margin: 5% 9%;
	color: #fff;
}
.book-title h2{
	text-align: center;
	margin: 10px 0px;
	display: block;
	position: static;
	letter-spacing: 1px;
	padding: 0;
	color: #90CECC;
	font-size: 28px;
}
.item {
	margin: 10px;
	height: 40px;
	line-height: 40px;
}
.item .fa-male {
	font-size: 26px;
}
.item .fa-mobile {
	font-size: 28px;
}
.item .fa-calendar {
	font-size: 20px;
}
.item i {
	width: 20px;
	font-size: 22px;
	margin-right: 11px;
	text-align: center;
}
.item label {
	margin-right: 20px;
}
.item input[type='radio'] {
	margin-right: 5px;
}
.item:nth-child(5) i{
	width: 19px;
}
.item input[type='text'], .item input[type='date'], .item select{
	border: 0 none;
	height: 36px;
	width: 90%;
	border-radius: 3px;
	border: 1px solid #90CECC;
	text-indent: 5px;
}
.item input[type='text']:focus, .item input[type='date']:focus, .item select {
	border-color: #4CB649;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
	outline:none;
}
.book-form {
	width: 85%;
	margin: 0 auto;
}
.book-form .title {
	background: none;
	font-size: 24px;
	padding-bottom: 4px;
	border-radius: 10px;
	text-align: center;
	color: #4CB649;
	border-bottom: 2px #4CB649 solid;
}
.submit {
	overflow: hidden;
	margin-top: 62px;
}
.btn {
	width: 50%;
	float: left;
	background: #4CB649;
}
.btn button, .btn a {
	background: #4CB649;
	display: block;
	line-height: 40px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding: 15px 0;
}
.btn button {
	border: 0 none;
}
.btn:first-child {
	border-right: 1px solid #fff;
	margin-left: -1px;
}
.notice {
	position: absolute;
	background: #FFBF90;
	color: #3E2412;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	left: 0;
	right: 0;
	-webkit-transition: all ease .4s;
	top: 0;
	padding: 5px 0;
	opacity: 0;
}
.showNotice {
	opacity: 1;
	top: 115px;
}
.guideTop {
	width: 40px;
	height: 50px;
	background: url(../images/units-icons.png) -67px 0;
	position: absolute;
	left: 50%;
	bottom: 61px;
	margin-left: -20px;
	display: block;
	z-index: 10001;
}
@-webkit-keyframes guideTop {
	0% {
		-webkit-transform: translateY(60px);
		opacity: 0
	}
	60% {
		-webkit-transform: translateY(20px);
		opacity: 1
	}
	100% {
		-webkit-transform: translateY(20px);
		opacity: 0
	}
}
.z-move {
	-webkit-animation: guideTop 1.5s infinite;
}
.u-guideNext, .u-guidePrev {
	text-decoration: none;
	position: absolute;
	top: 40%;
	z-index: 9998;
	display: block;
	width: 46px;
	height: 56px;
	text-indent: 9999px;
	background: url(../images/units-icons.png) -116px 0;
}
.u-guidePrev {
	left: 18px
}
.u-guidePrev.z-move {
	-webkit-animation: guidePrev 1.5s infinite
}
.u-guideNext {
	right: 18px;
	-webkit-transform: rotateZ(180deg)
}
.u-guideNext.z-move {
	-webkit-animation: guideNext 1.5s infinite
}
@-webkit-keyframes guidePrev {
	0%, 20% {
		-webkit-transform: translateX(0px)
	}
	35% {
		-webkit-transform: translateX(12px)
	}
	50% {
		-webkit-transform: translateX(-20px)
	}
	65% {
		-webkit-transform: translateX(0px)
	}
	80% {
		-webkit-transform: translateX(-12px)
	}
	100% {
		-webkit-transform: translateX(0px)
	}
}
@-webkit-keyframes guideNext {
	0%, 20% {
		-webkit-transform: translateX(0px) rotateZ(180deg)
	}
	35% {
		-webkit-transform: translateX(-12px) rotateZ(180deg)
	}
	50% {
		-webkit-transform: translateX(20px) rotateZ(180deg)
	}
	65% {
		-webkit-transform: translateX(0px) rotateZ(180deg)
	}
	80% {
		-webkit-transform: translateX(12px) rotateZ(180deg)
	}
	100% {
		-webkit-transform: translateX(0px) rotateZ(180deg)
	}
}

/*=========start=============*/
.m-meteorShower .star {
	display: block;
	position: absolute;
	width: 46px;
	height: 46px;
	background: url(../images/meteor.png);
	-webkit-animation: star 1s linear infinite
}
.m-meteorShower .star.style1 {
	width: 20px;
	height: 20px;
	background-position: 0 -137px
}
.m-meteorShower .star.style2 {
	width: 43px;
	height: 43px;
	background-position: -20px -137px
}
.m-meteorShower .star.style3 {
	width: 42px;
	height: 42px;
	background-position: -63px -137px
}
.m-meteorShower .star.style4 {
	width: 50px;
	height: 50px;
	background-position: -105px -137px
}
.m-meteorShower .meteor {
	display: block;
	position: absolute;
	width: 255px;
	height: 50px;
	background: url(../images/meteor.png);
	-webkit-animation: meteor 1s linear infinite
}
.m-meteorShower .meteor.style1 {
	width: 100px;
	height: 20px;
	background-position: 0 0
}
.m-meteorShower .meteor.style2 {
	width: 150px;
	height: 29px;
	background-position: 0 -20px
}
.m-meteorShower .meteor.style3 {
	width: 200px;
	height: 39px;
	background-position: 0 -49px
}
.m-meteorShower .meteor.style4 {
	width: 256px;
	height: 50px;
	background-position: 0 -88px
}
@-webkit-keyframes star {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1)
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.5)
	}
}
@-webkit-keyframes meteor {
	0% {
		opacity: 0;
		-webkit-transform: rotate(40deg) translateX(0px) scale(0.2)
	}
	20% {
		opacity: .7
	}
	80% {
		opacity: 1
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(40deg) translateX(500px) scale(1)
	}
}
/*baidu map*/
#allmap {width: 100%;height: 99%;overflow: hidden;margin:0 auto;}
@media (max-device-width: 780px){#golist{display: block !important;}}

